<h1 class="page-header">Create Questions</h1>
<%= form_for @question do |f|%>
  <%= f.text_field :title, :placeholder => 'topic' %>
  <%= f.text_area :content, :placeholder => 'Ask your question...', rows: 25, cols: 47 %>
  <%= f.submit 'submit', id: 'submit' %>
<% end %>