<h1>Welcome <%= @user.username.capitalize %></h1>

<div class="stats">
<h2>Total Questions: <small><%= @questions.length %></small></h2>
<h2>Total Responses: <small></small></h2>
<h2>Total Comments: <small></small></h2>
<h2>Total Points: <small></small></h2>
</div>