<h1 class="page-header">Dev Overflow</h1>

<div class="stats">
<h2>Questions: <span><%= @questions.length %></span></h2>
<h2>Answers: <span><%= @answer.inject(:+) %></span></h2>
<h2>Comments: <span><%= @comments.inject(:+) %></span></h2>
<h2>Points: <span></span></h2>
</div>