<h1 class="page-header">Edit the Response</h1>

<%= form_for [@question, @answer] do |f| %>
 <%= f.text_area :content, placeholder: 'write your answer', rows: 25, cols: 47 %>
 <%= f.submit 'submit', id: 'submit' %>
<% end %>