<%= link_to '+', question_votes_path(@question), :method => :post, remote: true, :class => "upvote" %>
<span class="vote-count"><%= @question.votes.length %></span>
<% if @question.votes.length > 0 %>
  <%= link_to '-', question_vote_path(@question, @question.votes.last), :method => :delete, remote: true, :class => "downvote" %>
<% end %>