<div class="voting-controls">
  <%= link_to '+', answer_votes_path(answer), :method => :post, remote: true, :class => "upvote" %>
  <%= answer.votes.length %>
  <% if answer.votes.length > 0 %>
    <%= link_to '-', answer_vote_path(answer, answer.votes.last), :method => :delete, remote: true, :class => "downvote" %>
  <% end %>
</div>